.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1f1616;
  color: white;
  height: 11vh;
}

.header-div {
  padding: 0px 50px;
}

.logo {
  height: 10vh;
  margin-top: 0.8vh;
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 15vw;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: #fb8c00;
}

.cartItem {
  display: flex;
  align-items: center;
}
