.contact-ellipse {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 2000px;
  height: 800px;
  left: -29%;
  padding: 84px;
  top: -560px;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  background: #ffffff;
}

.contact-section {
  background-image: url("../../image-collections/pexels-kelly-lacy-2796105-min.jpg");
  background-size: cover;
}

.contact-details {
  position: absolute;
  width: 100%;
  justify-content: center;
  display: flex;

  top: calc(200vh + 70vh);
}

.contact-data {
  background: #ffffffdb;
  height: 30vh;
  width: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insta-icon {
  color: #ff0d37;
  margin: 0px 5px;
}

.fb-icon {
  margin: 0px 5px;
  color: #005aff;
}

.github-icon {
  margin: 0px 5px;
  color: black;
}

.icons {
  margin-bottom: 10px;
}
