.details-container {
  display: flex;
  justify-content: center;
}

.left-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
.right-content {
  /* display: flex; */
  /* flex-direction: column; */
  padding-top: 20px;
  /* align-items: center; */
  margin-right: 30px;
}

.product-image {
  height: 280px;
}

.title {
  font-size: xxx-large;
  font-weight: 600;
}

.description {
  padding: 30px;
  font-weight: 600;
  font-size: 18px;
}

.ingredients-title {
  padding-left: 20px;
  font-weight: 600;
}

.ingredients-list {
  display: flex;
  padding: 18px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details-page {
  display: flex;
  flex-direction: row;
}

.spinner {
  color: rgb(58, 51, 51);
  margin-top: 13%;
  height: 100px;
  width: 100px;
}

.add-product-button {
  width: 160px;
  height: 37px;
  background-color: rgb(255, 174, 0);
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 5px;
}
